@media screen and (min-width: 600px) and (max-width: 992px) {

    /* below is the astronaut style page media adjustments */
    .card-wrapper {
        height: 850px;
    }

    .card-content-wrapper {
        flex: 1 0 0;
    }

    /* below are the styles for the mercury page  */
    .mercury-iframe {
        position: absolute;
        top: 0px;
        left: -5000px;
    }
    
    .flight-img-placement {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    /* below is the astronaut style page media adjustments */

    .card-wrapper {
        height: 800px;
    }

    .card-content-wrapper {
        flex: 1 0 0;
    }

    /* below is the side bar adjustments */
    .icon-img {
        position: absolute;
        top: 0px;
        left: -4000px;
    }

    .day-img {
        width: 100%;
    }
    .flight-img-placement {
        display: flex;
        flex-direction: column;
    }

    /* here is styling for the back button  */
    .et-go-home {
        position: absolute;
        top: 0px;
        left: -5000px;
    }

    .back-button {
        border: none;
        padding: 10px;
        border-radius: 50%;
    }
}
