:root {
    /* color palette  */
    --desaturated-yellow: #beb505;
    --aquamarine: #0fc6a9;
    --teal: #09756c;
    --hover-teal: #085751;
    --ocean-depths: #157255;
    --grass-is-greener:  #056d24;
    --deep-space-blue: #064652;
    --midnight-plum: #272778;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    background-image: url(https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000679/GSFC_20171208_Archive_e000679~orig.jpg);
    font-size: 14px;
}

/* this will keep size nice and tiddy in one container  */
.main-wrapper {
    background-color: #ffffff;
    margin: 5%;
    width: 80vw;  /* these two allow container responsiveness on all viewports with ease */
}

.content-container,
.side-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* everything below is the sidebar  */
.image-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.img-icon-wrapper {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-img {
    width: 50%;
}

.day-img {
    width: 95%;
}

.sidebar-header {
    font-size: 1.25em;
    padding-bottom: 5px;
    line-height: 100%;
}

.sidebar-subheader {
    font-size: 1em;
}

.sidebar-subheader p {
    font-size: 0.75em;
}

/* footer styles  */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h4 {
    font-size: 1.25em;
    letter-spacing: 15px;
    color: var(--midnight-plum);
}

footer ul {
    width: 50%;
    margin: 0 15px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul li a {
    text-decoration: none;
    color: var(--deep-space-blue);
    padding: 0 5px;
}

footer ul li a:hover {
    color: var(--desaturated-yellow);
}

/* this is all the main content  */
.content-container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.img-banner {
    width: 100%;
}

.intro-paragraph {
    margin: 2%;
    text-indent: 2em;
    letter-spacing: 1px;
}

/* these are button styles on the main page */
.btn-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 2% 0 ;
}

.main-button {
    margin: 2px;
    background-color: var(--teal);
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.main-button:hover {
    background-color: var(--hover-teal);
    box-shadow: 0 0 5px 1px var(--hover-teal);
}

/* below is the astronaut style page  */
.card-astro {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-wrapper {
    width: 100%;
    height: 700px;
}

.card-content-wrapper {
    flex: 1 0 0;
    overflow-y: auto;
}

.card-anchor-background {
    background-color: var(--deep-space-blue);
}

.astronaut-name {
    color: #000;
    border-radius: 5px;
    background-color: #387effbd;
}

/* Below is style for Space News Page  */
.cta-text {
    text-decoration: none;
}

.flight-img-placement {
    display: flex;
    flex-direction: row;
}

.card-image {
    flex-basis: 60%;
}

.card-stacked {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 40%;
}

.card-title {
    flex-grow: 1;
    padding: 5px;
}

.btn-large {
    width: 100%;
}

.hide {
    display: none;
}

/* below is styling for the header  */
.back-button {
    margin-top: 2%;
    background-color: var(--ocean-depths);
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}

.back-button:hover {
    background-color: var(--ocean-depths);
    box-shadow: 0 0 5px 1px var(--deep-space-blue);
}

.et-go-home {
    letter-spacing: 2px;
}

.material-icons {
    vertical-align: middle;
}

.game {
    width: 500px; 
}

/* below are the styles for mercury page  */
.mercury-header {
    margin-bottom: 10px;
}

.credit-to {
    font-size: 11px;
    font-weight: lighter;
}

.mercury-paragragh {
    text-indent: 2em;
    margin-bottom: 25px;
}

.response-div {
    background-color: var(--desaturated-yellow);
    text-align: center;
    margin: 15px;
    padding: 15px;
    width: 30%;
}

.mercury-button {
    margin: 2px;
    background-color: var(--desaturated-yellow);
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}

.mercury-button:hover {
    background-color: var(--desaturated-yellow);
    box-shadow: 0 0 5px 1px var(--desaturated-yellow);
}

.mercury-links {
    margin: 15px;
}
