:root {
    /* color palette  */
    --desaturated-yellow: #beb505;
    --aquamarine: #0fc6a9;
    --teal: #09756c;
    --hover-teal: #085751;
    --ocean-depths: #157255;
    --grass-is-greener:  #056d24;
    --deep-space-blue: #064652;
    --midnight-plum: #272778;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    background-image: url(https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000679/GSFC_20171208_Archive_e000679~orig.jpg);
    font-size: 14px;
}

/* this will keep size nice and tiddy in one container  */
.main-wrapper {
    background-color: #ffffff;
    margin: 5%;
    width: 80vw;  /* these two allow container responsiveness on all viewports with ease */
}

.content-container,
.side-container { /*was a col */
    display: flex;
    justify-content: center;
    align-content: center;
}

/* everything below is the sidebar  */
.image-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.side-child {
    flex-direction: column;
    width: 50%;
}

.side-child img {
    width: 70%;
}

.sidebar-header {
    font-size: 1.45em;
}

.sidebar-subheader {
    font-size: 1em;
}

.sidebar-subheader p {
    font-size: 0.75em;
}

/* footer styles  */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h4 {
    font-size: 1.25em;
    letter-spacing: 15px;
}

footer ul {
    width: 50%;
    margin: 0 15px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul li a {
    text-decoration: none;
    color: var(--deep-space-blue);
}

footer ul li a:hover {
    color: var(--desaturated-yellow);
}

/* this is all the main content  */
.content-container {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.img-banner {
    width: 100%;
}

.intro-paragraph {
    margin: 2%;
    text-indent: 2em;
    letter-spacing: 1px;
}

/* these are button styles on the main page */
.btn-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 2% 0 ;
}

.button {
    margin: 2px;
    background-color: var(--teal);
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
}

.button:hover {
    background-color: var(--hover-teal);
    box-shadow: 0 0 5px 1px var(--hover-teal);
}

/* below is the astronaut style page  */
.card-astro {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-wrapper {
    width: 100%;
    height: 700px;
}

.card-content-wrapper {
    flex: 1 0 0;
    overflow-y: auto;
}

/* Below is style for Space News Page */
.cta-text {
    text-decoration: none;
}


/* below are the styles for mercury page  */

.credit-to {
    font-size: 11px;
    font-weight: lighter;
}

.mercury-paragragh {
    text-indent: 2em;
}